.side-bar {
  width: 50px;
  min-height: 100% !important;
  background-color: #515151;
  position: fixed;
  top: 0px;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
}

.order-table {
  width: 0px;
}